<p id="notice"><%= notice %></p>

<p>
  <h3><b>Name:</b>
  <%= @type.name %></h3>
</p>

<h3>Risks</h3>

<%= render :partial => "risks/table", :locals => {:risks => @type.risks }%>

<h3>Create a new Fload</h3>

<%= render :partial => "risks/form"%>


<%= link_to 'Edit', edit_type_path(@type) %> |
<%= link_to 'Back', types_path %>
