<h1>Listing risks</h1>

<%= form_tag risks_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :description => nil %>
<% end %>

<table>
  <tr>
    <th>Description</th>
    <th>Location</th>
    <th>Type</th>

    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @risks.each do |risk| %>
  <tr>
    <td><%= risk.description %></td>
    <td><%= risk.location.name %></td>
    <td><%= risk.type.name %></td>
    
    <td><%= link_to 'Show', risk %></td>
    <td><%= link_to 'Edit', edit_risk_path(risk) %></td>
    <td><%= link_to 'Destroy', risk, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @risks %>
<br />

<%= link_to 'New Risk', new_risk_path %>
