

<%#= render :partial => "car"%>

<fieldset>
  <legend>Search</legend>
  
        <%= form_tag risks_url, :method => :get, :class => "form-search" do %>
        <div class="input-append">
  <%= text_field_tag :search_term, params[:search_term], 
      :class => "search-query", 
      :placeholder => "Description" %>
       <%= submit_tag "Search", :class => "btn btn-info" %>
       </div>
<% end %>
        <%= form_tag risks_url, :method => :get, :class => "form-search" do %>
        <div class="input-append">
  <%= select_tag "selected_type", 
      options_from_collection_for_select(Type.all, "id", "name") %>
       <%= submit_tag "Search", :class => "btn btn-info" %>
       </div>
<% end %>

        <%= form_tag risks_url, :method => :get, :class => "form-search" do %>
        <div class="input-append">
  <%= select_tag "selected_location", 
      options_from_collection_for_select(Location.all, "id", "name") %>
       <%= submit_tag "Search", :class => "btn btn-info" %>
       </div>
<% end %>

  

</fieldset>

<fieldset>
  <legend>Listing Risks</legend>
<p>
  <%= link_to 'New Risk', new_risk_path, class: "btn btn-primary" %>
</p>
<%= render :partial => "table", :locals => {:risks => @risks }%>


<center>
  <%= will_paginate @risks %>
</center>
<fieldset>

  <script>
      $('#typeCarousel').carousel({
        interval: 5000,
        cycle: true

      });
  </script>

