</br>

<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @risk.description %>
</p>

<p>
  <b>Location:</b>
  <%= @risk.location.name %>
</p>

<p>
  <b>Type:</b>
  <%= @risk.type.name %>
</p>

<p>
<%= link_to "Documentação", @risk.doc.url %>  
</p>

<h3>Periods</h3>

<table class="table">
  <tr>
    <th>From date</th>
    <th>To date</th>
    <th>From time</th>
    <th>To time</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @periods.each do |period| %>
  <tr>
    <td><%= period.from_date %></td>
    <td><%= period.to_date %></td>
    <td><%= period.from_time.strftime('%H:%M:%S') %></td>
    <td><%= period.to_time.strftime('%H:%M:%S') %></td>
    <td><%= link_to 'Show', period , class: "btn btn-small"%>
     

<a href="#impact_modal" data-toggle="modal" data-period="<%=period.id%>" class="btn btn-small">Impacts</a>

     <!-- 
      <%= link_to "ola",
      { :controller => :risks, :action => :impact, :id  => @risk.id, :period_id => period.id  },
      { :remote => true } %>
      
    -->
    <%= link_to 'Edit', edit_period_path(period), class: "btn btn-small" %>
    <%= link_to 'Destroy', period, class: "btn btn-small btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>


<%= link_to 'Edit', edit_risk_path(@risk) %> |
<%= link_to 'Back', risks_path %>





<div id="impact_modal" class="modal hide fade" tabindex="-1">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">x</button>
      <h2>Impacts</h2>
    </div>
    <div class="modal-body">
  

      
      
      
<div id="target">      
      
<%= form_tag(impact_risk_path) do %>
<%= hidden_field_tag "period_id", ""%>
<ul>
      <% Impact.all.each do |impact| %>
        <li>
             <%= hidden_field_tag "impacts[]", impact.id%>
             

          <%= impact.name %> <br />
          <%= select_tag "answers[]", 
              options_from_collection_for_select(impact.answer_types, "id", "name") %>

          <br />
        </li>
      <% end %>
    </ul>

    <button class="btn" type="submit">Submit</button>

<% end %>

</div>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal">Close</button>
    </div>
</div>

<div class="new-window" style="display: none;">
    <p>(message should be here)</p>
</div>


<script>
$('.collapse').collapse();

$('a[data-period]').click(function(){
    
    var period = $(this).data('period');
    $("#period_id").val(period);

     $('#impact_modal').modal('show'); 
    return false;
});



</script>
