<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @risk.description %>
</p>

<p>
  <b>Location:</b>
  <%= @risk.location_id %>
</p>

<p>
  <b>Type:</b>
  <%= @risk.type_id %>
</p>

<p>
<%= link_to "Documentação", @risk.doc.url %>  
</p>

<h3>Periods</h3>

<table class="table">
  <tr>
    <th>From date</th>
    <th>To date</th>
    <th>From time</th>
    <th>To time</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @periods.each do |period| %>
  <tr>
    <td><%= period.from_date %></td>
    <td><%= period.to_date %></td>
    <td><%= period.from_time %></td>
    <td><%= period.to_time %></td>
    <td><%= link_to 'Show', period %></td>
    <td><%= link_to 'Edit', edit_period_path(period) %></td>
    <td><%= link_to 'Destroy', period, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>


<%= link_to 'Edit', edit_risk_path(@risk) %> |
<%= link_to 'Back', risks_path %>


