<h1>Listing probabilities</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Value</th>
    <th></th>
    <th></th>
    
  </tr>

<% @probabilities.each do |probability| %>
  <tr>
    <td><%= probability.name %></td>
    <td><%= probability.value %></td>
    <td><%= link_to 'Show', probability %></td>
    <td><%= link_to 'Edit', edit_probability_path(probability), class: "btn btn-small" %>
    <%= link_to 'Destroy', probability, class: "btn btn-small btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Probability', new_probability_path %>

